/**sa form and body nung extension**/
.form-body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);
    width: 280px;
    min-height: 300px;
    background-color: white;
}

h3 {
  text-align: left;
  margin: 15px 15px;
}

.custom_title{
  font-size: 12px;
  color: #fca311;
}

h5 {
  text-align: justify;
  margin: 15px 15px;
}

hr {
  border: 1px solid #fca311;
  margin: 15px 15px;
}

label {
  font-size: 14px;
  text-align: justify;
  margin: 15px 15px;
}

.option {
    margin-left: 10px;
    margin-bottom: 0.5em;
    padding-top: 0.3em ;
    padding-bottom: 0.3em;
}
  
.option:focus, .option:hover {
    background-color: #fef5e7;
    border-radius: 10px;
}

/** sa font size changer design **/  
#range-slider {
    width: 80%;
    margin: 0 10%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ccc;
  border: none;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fca311;
  border: 2px solid #fca311; 
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb {
  background: #fca311;
}

input[type="range"]:active::-webkit-slider-thumb {
  background:#fca311;
}
  
#reset-font-size {
    margin: 10px auto;
}

.adjust-label{
  font-size: 14px;
  font-weight: 300;
  margin: 15px 15px;
}

/*radiobuttons*/
.radio-custom {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #fca311;
  border-radius: 50%;
  cursor: pointer;
}

.radio-custom:checked {
  background-color: #fca311;
}

.radio-custom-label {
  font-size: 14px;
}

.radio-custom:checked + .radio-custom-label {
  color: #fca311;
}

/*sa buttons*/
.custom_btn {
  background-color: #fca311;
  color: #000;
  padding: 5px 5px;
  border: none; 
  border-radius: 10px; 
  cursor: pointer;
  font-size: 14px; 
  transition: background-color 0.3s;
}

.custom_btn:hover {
  color: #fef5e7;
  background-color: #fca311; 
}

/* WAG GAGALAWIN !!!!!!!!!!!*/
:root {
  --scale: 2;
  --size: 150px;
  --scrollbar-width: 36px;
  --handle-background: url("https://www.svgrepo.com/show/263197/magnifying-glass-search.svg");
}

.handle {
  position: absolute;
  height: calc(var(--size) * 1.9);
  width: calc(var(--size) * 1.9);
  background: var(--handle-background);
  background-size: contain;
  filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, 0.5));
}

.magnifying-glass {
  position: absolute;
  padding: 0;
  margin: 0;
  height: var(--size);
  width: var(--size);
  border: solid 3px black;
  background: radial-gradient(#f5fcfc 45%, gray);
  overflow: hidden;
  border-radius: 50%;
}

.magnifying-glass::after {
  display: block;
  position: relative;
  content: "";
  top: calc(2 * var(--size) / 3);
  left: calc(2 * var(--size) / 3);
  height: 15px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  transform: rotate(-45deg);
  opacity: 70%;
}

.body-clone {
  position: absolute;
  margin-left: 8vw;
  padding: inherit;
  height: 100vh;
  width: calc(100vw - var(--scrollbar-width));
  transform: scale(var(--scale));
}


